{{define "title"}}
    tweets
{{end}}
{{define "content"}}
    <div class="col">
        <form method="GET" action="/tweets" class="text-white">
            <label>キーワード検索</label>
            <input id="input-search-keywords" name="keywords" type="search" value="{{.keywords}}" />
            <input id="btn-search" class="btn btn-lg btn-primary btn-block" type="submit" value="検索" />
        </form>
        {{if eq .page.TotalElements 0}}
            <p id="tweet-not-found" class="text-white">ツイートが見つかりません</p>
        {{end}}
        {{range .tweets}}
            <div class="card" id="tweet">
                <div class="card-header">
                    {{.ScreenName}}
                </div>
                <div class="card-body">
                    <p class="card-text" id="tweet-{{.ID}}">{{.Text | nl2br}}</p>
                    {{if ne .RetweetText ""}}
                    <div class="card">
                        <div class="card-header">
                            {{.RetweetScreenName}}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{.RetweetText | nl2br}}</p>
                        </div>
                    </div>
                    {{end}}
                    {{if ne .Tags nil}}
                        {{range .Tags}}
                            <a class="btn btn-outline-secondary" href="/tweets/{{.Name}}" id="tag-{{.Name}}">{{.Name}}</a>
                        {{end}}
                    {{end}}
                </div>
                <div class="card-footer">
                    <a class="text-gray" href={{.Url}}>{{.TweetedAt}}</a>
                </div>
            </div>
        {{end}}
        <div class="d-flex justify-content-center">
            {{$this_page_number := .page.PageNumber}}
            {{$last_page_number := .page.TotalPages}}
            {{range .page.PaginateInfos}}
                {{if eq .Info "first"}}
                    {{if ne $this_page_number 1}}
                        <a class="btn btn-secondary" href="/tweets{{.PathParam}}" id="btn-page-first"><<最初</a>
                    {{end}}
                {{else if eq .Info "last"}}
                    {{if ne $this_page_number $last_page_number}}
                        <a class="btn btn-secondary" href="/tweets{{.PathParam}}" id="btn-page-last">最後>></a>
                    {{end}}
                {{else}}
                    {{if eq .PageNumber $this_page_number}}
                        <a class="btn btn-primary" href="#" id="btn-page-{{.PageNumber}}">{{.PageNumber}}</a>
                    {{else}}
                        <a class="btn btn-secondary" href="/tweets{{.PathParam}}" id="btn-page-{{.PageNumber}}">{{.PageNumber}}</a>
                    {{end}}
                {{end}}
            {{end}}
        </div>
    </div>
{{end}}