{{define "title"}}
    tweets
{{end}}
{{define "content"}}
    <div class="col">
        <form method="POST" action="/tweets" class="text-white">
            テキスト検索
            <input type="radio" name="search_condition" value="OR" {{if or (eq .search_condition nil) (eq .search_condition "OR")}}checked{{end}}>OR
            <input type="radio" name="search_condition" value="AND" {{if eq .search_condition "AND"}}checked{{end}}>AND
            <input name="search_words" type="text" value="{{.search_words}}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">検索</button>
        </form>
        {{range .tweets}}
            <div class="card">
                <div class="card-header">
                    {{.ScreenName}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{.Text | nl2br}}</p>
                    {{if ne .RetweetText ""}}
                    <div class="card">
                        <div class="card-header">
                            {{.RetweetScreenName}}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{.RetweetText | nl2br}}</p>
                        </div>
                    </div>
                    {{end}}
                    {{if ne .Tags nil}}
                        {{range .Tags}}
                            <div class="btn btn-outline-secondary">{{.Name}}</div>
                        {{end}}
                    {{end}}
                </div>
                <div class="card-footer">
                    <a class="text-gray" href={{.Url}}>{{.TweetedAt}}</a>
                </div>
            </div>
        {{end}}
        <div class="d-flex justify-content-center">
            {{if ne .page.PageNumber 1}}
                <a class="btn btn-secondary" href="/tweets?page=1"><<最初</a>
            {{end}}
            {{$total_page := .page.TotalPages}}
            {{$len := 0}}
            {{$page_number := .page.PageNumber}}
            {{range .page.PaginateNum}}
                {{if and (gt . 0) (le . $total_page)}}
                    {{if eq . $page_number}}
                        <a class="btn btn-primary" href="#">{{.}}</a>
                    {{else}}
                        <a class="btn btn-secondary" href="/tweets?page={{.}}">{{.}}</a>
                    {{end}}
                {{end}}
                {{$len = .}}
            {{end}}
            {{if ne .page.PageNumber .page.TotalPages}}
                <a class="btn btn-secondary" href="/tweets?page={{.page.TotalPages}}">最後>></a>
            {{end}}
        </div>
    </div>
{{end}}